body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background: #111827;
  color: white;
  padding: 20px;
}

.sidebar button {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  background: #1f2937;
  color: white;
  border: none;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 20px;
}

.section {
  margin-top: 20px;
}

.hidden {
  display: none;
}

#logBox {
  background: black;
  color: lime;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
}
